# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache

# Node dependencies
node_modules

# pnpm specific
.pnpm-store/
pnpm-lock.yaml

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example